<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type">
    <title>Pagination Tutorial</title></head>
<body>
<table style="border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Country</th>
    </tr>
    <tr style="border: 1px solid black;" th:each="user : ${users}">
        <td th:text="${user.id}">userId</td>
        <td th:text="${user.firstName}">${user.firstName }</td>
        <td th:text="${user.lastName}">${user.lastName }</td>
        <td th:text="${user.country}">${user.country }</td>
    </tr>
</table>
<br> <br>
<!--<c:forEach var="i" begin="0" end="${lastPageNo-1 }"><a-->
<!--        href="/?pageNo=${i }">${i+1 }</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--    &lt;!&ndash; Displaying Page No &ndash;&gt;-->
<!--</c:forEach>-->
</body>
</html>